<div class="callout">
  <div class="callout__content">
    <div class="callout__header">
      <p class="callout__small-title">WE OFFERS</p>
      <h2 class="callout__title">Earn up to $30 worth of crypto</h2>
      <p class="callout__describtion">
        There are many variations of passages of Lorem Ipsum available, but the
        majority have suffered alteration in some form, by injected humour.
      </p>
    </div>
    <form class="callout__form mx-auto">
      <input
        type="text"
        placeholder="Your Email id..."
        class="input border-transparent w-100"
      />
      <button type="submit" class="btn btn--bg-gradiant-orange fw-800">
        GET STARTED
        <svg class="btn__icon ml-3">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </form>
    <a href="#" class="callout__terms-conditions">*Terms & Conditions apply</a>
  </div>
</div>
