<section class="features-container">
  <header class="features-container__header">
    <p class="features-container__small-title fw-800">AMAZING FEATURES</p>
    <h2 class="features-container__title">
      The most trusted crypto trading platform
    </h2>
    <p class="features-container__describtion">
      There are many variations of passages of Lorem Ipsum available
    </p>
  </header>
  <div class="features-container__content">
    <article class="feature">
      <div class="feature__icon-container">
        <svg class="feature__icon">
          <use xlink:href="images/sprite.svg#secure-storage"></use>
        </svg>
      </div>
      <h3 class="feature__title">Secure Storage</h3>
      <p class="feature__describtion">
        There are many variations offset wille passages of Lorem Ipsum
        available, alteration to an end.
      </p>
      <div class="feature__arrow-icon-container">
        <svg class="feature__arrow-icon">
          <use xlink:href="images/sprite.svg#arrow-right-circle"></use>
        </svg>
      </div>
    </article>
    <article class="feature feature--box-shadow">
      <div class="feature__icon-container">
        <svg class="feature__icon">
          <use xlink:href="images/sprite.svg#mobile-friendly"></use>
        </svg>
      </div>
      <h3 class="feature__title">Easy & Efficient</h3>
      <p class="feature__describtion">
        There are many variations offset wille passages of Lorem Ipsum
        available, alteration to an end.
      </p>
      <div class="feature__arrow-icon-container">
        <svg class="feature__arrow-icon">
          <use xlink:href="images/sprite.svg#arrow-right-circle"></use>
        </svg>
      </div>
    </article>
    <article class="feature">
      <div class="feature__icon-container">
        <svg class="feature__icon">
          <use xlink:href="images/sprite.svg#offline-bolt"></use>
        </svg>
      </div>
      <h3 class="feature__title">Fast Transactions</h3>
      <p class="feature__describtion">
        There are many variations offset wille passages of Lorem Ipsum
        available, alteration to an end.
      </p>
      <div class="feature__arrow-icon-container">
        <svg class="feature__arrow-icon">
          <use xlink:href="images/sprite.svg#arrow-right-circle"></use>
        </svg>
      </div>
    </article>
  </div>
</section>
