<article class="feature feature--box-shadow">
  <div class="feature__icon-container">
    <svg class="feature__icon">
      <use xlink:href="images/sprite.svg#secure-storage"></use>
    </svg>
  </div>
  <h3 class="feature__title">Secure Storage</h3>
  <p class="feature__describtion">
    There are many variations offset wille passages of Lorem Ipsum available,
    alteration to an end.
  </p>
  <div class="feature__arrow-icon-container">
    <svg class="feature__arrow-icon">
      <use xlink:href="images/sprite.svg#arrow-right-circle"></use>
    </svg>
  </div>
</article>
