<footer class="footer">
  <div class="footer-container">
    <div class="footer__header">
      <div class="footer__logo-container">
        <img class="footer__logo" src="images/logo.svg" alt="" />
        <h2 class="footer__logo-text">Cryptoz</h2>
      </div>

      <p class="footer__copyright">2021. All Rights Reserved</p>
    </div>
    <div class="footer__link-lists">
      <div class="link-list">
        <h3 class="link-list__header">Company</h3>
        <ul>
          <li class="link-list__item">
            <a class="link-list__link" href="#">About</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Careers</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Affiliates</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Blog</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Press</a>
          </li>
        </ul>
      </div>
      <div class="link-list">
        <h3 class="link-list__header">Individuals</h3>
        <ul>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Buy & sell</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Earn free crypto</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Stocks Trade</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Wallet</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Card</a>
          </li>
        </ul>
      </div>
      <div class="link-list">
        <h3 class="link-list__header">Support</h3>
        <ul>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Help center</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Contact us</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Create account</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">ID verification</a>
          </li>
          <li class="link-list__item">
            <a class="link-list__link" href="#">Account information</a>
          </li>
        </ul>
      </div>
      <div class="link-list">
        <h3 class="link-list__header">Follow Us On</h3>
        <ul>
          <li class="link-list__item">
            <a
              class="link-list__link link-list__link--icon link-list__link--facebook"
              href="#"
              >Facebook</a
            >
          </li>
          <li class="link-list__item">
            <a
              class="link-list__link link-list__link--icon link-list__link--twitter"
              href="#"
              >Twitter</a
            >
          </li>
          <li class="link-list__item">
            <a
              class="link-list__link link-list__link--icon link-list__link--pinterset"
              href="#"
              >Pinterset</a
            >
          </li>
          <li class="link-list__item">
            <a
              class="link-list__link link-list__link--icon link-list__link--instagram"
              href="#"
              >Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
