<section class="guidelines">
  <p class="guidelines__small-title fw-800">HOW IT WORKS</p>

  <h2 class="guidelines__title">Fast, Simple & Effortless.</h2>
  <p class="guidelines__describtion">
    There are many variations of passages of Lorem Ipsum available
  </p>
  <div class="guidelines__steps">
    <div class="guidelines__step">
      <div class="guidelines__step__icon-container">
        <svg class="guidelines__step__icon">
          <use xlink:href="images/sprite.svg#how-to-reg"></use>
        </svg>
      </div>
      <h3 class="guidelines__step__title">Create an account</h3>
      <p class="guidelines__step__text fw-700">STEP 01</p>
    </div>

    <div class="guidelines__step">
      <div class="guidelines__step__icon-container">
        <svg class="guidelines__step__icon">
          <use xlink:href="images/sprite.svg#page-as-pdf"></use>
        </svg>
      </div>
      <h3 class="guidelines__step__title">Share Documents</h3>
      <p class="guidelines__step__text fw-700">STEP 02</p>
    </div>
    <div class="guidelines__step">
      <div class="guidelines__step__icon-container">
        <svg class="guidelines__step__icon">
          <use xlink:href="images/sprite.svg#account-balance"></use>
        </svg>
      </div>
      <h3 class="guidelines__step__title">Link bank account</h3>
      <p class="guidelines__step__text fw-700">STEP 03</p>
    </div>

    <div class="guidelines__step">
      <div class="guidelines__step__icon-container">
        <svg class="guidelines__step__icon">
          <use xlink:href="images/sprite.svg#insert-chart"></use>
        </svg>
      </div>
      <h3 class="guidelines__step__title">Start Trading</h3>
      <p class="guidelines__step__text fw-700">STEP 04</p>
    </div>
  </div>
</section>
