<header class="header">
  <nav class="navbar">
    <div class="navbar__images">
      <div class="navbar__header">
        <img class="navbar__logo" src="images/logo.svg" alt="" />
        <span class="navbar__logo-text">Cryptoz</span>
      </div>
      <img class="navbar__toggler" src="images/menu.svg" alt="" />
    </div>
    <div class="navbar__content">
      <ul class="navbar__list">
        <li class="navbar__list__item">
          <a class="navbar__list__link" href="#">About</a>
        </li>
        <li class="navbar__list__item">
          <a class="navbar__list__link" href="#">Features</a>
        </li>
        <li class="navbar__list__item">
          <a class="navbar__list__link" href="#">Solutions</a>
        </li>
        <li class="navbar__list__item">
          <a class="navbar__list__link" href="#">Contact</a>
        </li>
      </ul>
      <div class="navbar__social-medias">
        <a href="#"><img src="images/facebook.svg" alt="" /></a>
        <a href="#"><img src="images/twitter.svg" alt="" /></a>
        <a href="#" class="navbar__social-media--linkedin"
          ><img src="images/linkedin.svg" alt=""
        /></a>
        <a href="#"><img src="images/instagram.svg" alt="" /></a>
      </div>
      <svg id="search-icon" class="navbar__search-icon">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      <button class="btn btn--bg-gradiant-orange navbar__btn fw-800">
        <svg class="btn__icon mr-3">
          <use xlink:href="images/sprite.svg#user"></use>
        </svg>
        login
      </button>
    </div>
  </nav>
  <div class="banner">
    <div class="banner-content">
      <div class="banner-content__small-title-container">
        <svg class="banner-content__zap-icon mr-2">
          <use xlink:href="images/sprite.svg#zap"></use>
        </svg>
        <p class="banner-content__small-title">100% RISK-FREE 30 DAY TRIAL</p>
      </div>
      <h1 class="banner-content__title">
        Cryptoz is the easiest place to buy & sell cryptocurrency!
      </h1>
      <p class="banner-content__describtion">
        It was popularised in the 1960s with the release of Letraset sheets
        containing Lorem Ipsum passages.
      </p>
      <div class="banner-content__button-group">
        <button class="btn btn--bg-gradiant-orange fw-800">
          explore now
          <svg class="btn__icon ml-3">
            <use xlink:href="images/sprite.svg#arrow-right"></use>
          </svg>
        </button>
        <a href="#" class="btn banner-content__link-button fw-800">
          <svg class="btn__icon mr-3">
            <use xlink:href="images/sprite.svg#play-circle"></use>
          </svg>
          watch video trail
        </a>
      </div>
    </div>
  </div>
</header>
