<section class="investment">
  <header class="investment__header">
    <p class="investment__small-title fw-800">FOCUS ON TRADING</p>
    <h2 class="investment__title">
      Invest in 1000+ of stocks with as little as $1.
    </h2>
  </header>
  <div class="investment__content">
    <div class="media media--border-bottom">
      <div class="media__image-container">
        <svg class="media__image">
          <use xlink:href="images/sprite.svg#account-balance-wallet"></use>
        </svg>
      </div>
      <div class="media__content">
        <h3 class="media__title">Invest Any Amount</h3>
        <p class="media__describtion">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form.
        </p>
      </div>
    </div>
    <div class="media media--border-bottom investment__media">
      <div class="media__image-container">
        <svg class="media__image">
          <use xlink:href="images/sprite.svg#file-copy"></use>
        </svg>
      </div>
      <div class="media__content">
        <h3 class="media__title">Build a Balanced Portfolio</h3>
        <p class="media__describtion">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form.
        </p>
      </div>
    </div>
    <div class="media investment__media">
      <div class="media__image-container">
        <svg class="media__image">
          <use xlink:href="images/sprite.svg#pie-chart"></use>
        </svg>
      </div>
      <div class="media__content">
        <h3 class="media__title">Realtime Trading</h3>
        <p class="media__describtion">
          There are many variations of passages of Lorem Ipsum available, but
          the majority have suffered alteration in some form.
        </p>
      </div>
    </div>
  </div>
</section>
