<div class="link-list">
  <h3 class="link-list__header">Follow Us On</h3>
  <ul>
    <li class="link-list__item">
      <a
        class="link-list__link link-list__link--icon link-list__link--facebook"
        href="#"
        >Facebook</a
      >
    </li>
    <li class="link-list__item">
      <a
        class="link-list__link link-list__link--icon link-list__link--twitter"
        href="#"
        >Twitter</a
      >
    </li>
    <li class="link-list__item">
      <a
        class="link-list__link link-list__link--icon link-list__link--pinterset"
        href="#"
        >Pinterset</a
      >
    </li>
    <li class="link-list__item">
      <a
        class="link-list__link link-list__link--icon link-list__link--instagram"
        href="#"
        >Instagram</a
      >
    </li>
  </ul>
</div>
