<nav class="navbar">
  <div class="navbar__images">
    <div class="navbar__header">
      <img class="navbar__logo" src="images/logo.svg" alt="" />
      <span class="navbar__logo-text">Cryptoz</span>
    </div>
    <img class="navbar__toggler" src="images/menu.svg" alt="" />
  </div>
  <div class="navbar__content">
    <ul class="navbar__list">
      <li class="navbar__list__item">
        <a class="navbar__list__link" href="#">About</a>
      </li>
      <li class="navbar__list__item">
        <a class="navbar__list__link" href="#">Features</a>
      </li>
      <li class="navbar__list__item">
        <a class="navbar__list__link" href="#">Solutions</a>
      </li>
      <li class="navbar__list__item">
        <a class="navbar__list__link" href="#">Contact</a>
      </li>
    </ul>
    <div class="navbar__social-medias">
      <a href="#"><img src="images/facebook.svg" alt="" /></a>
      <a href="#"><img src="images/twitter.svg" alt="" /></a>
      <a href="#" class="navbar__social-media--linkedin"
        ><img src="images/linkedin.svg" alt=""
      /></a>
      <a href="#"><img src="images/instagram.svg" alt="" /></a>
    </div>
    <svg id="search-icon" class="navbar__search-icon">
      <use xlink:href="images/sprite.svg#search"></use>
    </svg>
    <button class="btn btn--bg-gradiant-orange navbar__btn fw-800">
      <svg class="btn__icon mr-3">
        <use xlink:href="images/sprite.svg#user"></use>
      </svg>
      login
    </button>
  </div>
</nav>
