<article class="quote">
  <div class="quote__image-container">
    <img class="quote__image" src="images/quote.svg" alt="" />
  </div>
  <p class="quote__text fw-500">
    There are many variations offeset passages of Lorem Ipsum makes available,
    but the majority have suffered alteration in some form, by injected humour.
  </p>
  <div class="quote__user">
    <div>
      <span class="fa fa-star quote__star quote__star--checked"></span>
      <span class="fa fa-star quote__star quote__star--checked"></span>
      <span class="fa fa-star quote__star quote__star--checked"></span>
      <span class="fa fa-star quote__star quote__star--checked"></span>
      <span class="fa quote__star fa-star-half-o quote__star--checked"></span>
    </div>
    <h3 class="quote__author">Martin Luther</h3>
    <span class="quote__job fw-500">UI/UX DESIGNER</span>
  </div>
</article>
