<section class="strategies strategies--right">
  <p class="strategies__small-title fw-800">GROWTH STRATEGIES</p>
  <h2 class="strategies__title">
    Multiple order types for all kinds of Risk Appetite
  </h2>
  <p class="strategies__describtion">
    There are many variations of passages of Lorem Ipsum available, but the
    majority have suffered alteration in some form, by injected humour.
  </p>
  <ul class="list strategies__list">
    <li class="list__item list--tick">
      Lorem Ipsum comes from
      <span class="fw-800">sections 1.10.32</span>
    </li>
    <li class="list__item list--tick">
      It has roots in a piece of
      <span class="fw-800">classical 45 BC</span> Latin literature
    </li>
    <li class="list__item list--tick">
      Accompanied by
      <span class="fw-800">English versions</span> from the translation
    </li>
  </ul>
  <button class="btn btn--bg-gradiant-orange fw-800">
    learn more
    <svg class="btn__icon ml-3">
      <use xlink:href="images/sprite.svg#arrow-right"></use>
    </svg>
  </button>
</section>
