<section class="testimonials">
  <header>
    <p class="testimonials__small-title fw-800">TESTIMONIALS</p>
    <h2 class="testimonials__title">What our client says?</h2>
  </header>
  <div class="testimonials__slider">
    <article id="testimonial1" class="quote testimonial testimonial--active">
      <div class="quote__image-container">
        <img class="quote__image" src="images/quote.svg" alt="" />
      </div>
      <p class="quote__text fw-500">
        1-This is first text There are many variations offeset passages of Lorem
        Ipsum makes available, but the majority have suffered alteration in some
        form, by injected humour.
      </p>
      <div class="quote__user">
        <div>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span
            class="fa quote__star fa-star-half-o quote__star--checked"
          ></span>
        </div>
        <h3 class="quote__author">Martin Luther</h3>
        <span class="quote__job fw-500">UI/UX DESIGNER</span>
      </div>
    </article>
    <article id="testimonial2" class="quote testimonial">
      <div class="quote__image-container">
        <img class="quote__image" src="images/quote.svg" alt="" />
      </div>
      <p class="quote__text fw-500">
        2-This is second text There are many variations offeset passages of
        Lorem Ipsum makes available, but the majority have suffered alteration
        in some form, by injected humour.
      </p>
      <div class="quote__user">
        <div>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span
            class="fa quote__star fa-star-half-o quote__star--checked"
          ></span>
        </div>
        <h3 class="quote__author">John Smith</h3>
        <span class="quote__job fw-500">Frontend Developer</span>
      </div>
    </article>
    <article id="testimonial3" class="quote testimonial">
      <div class="quote__image-container">
        <img class="quote__image" src="images/quote.svg" alt="" />
      </div>
      <p class="quote__text fw-500">
        3-This is third text There are many variations offeset passages of Lorem
        Ipsum makes available, but the majority have suffered alteration in some
        form, by injected humour.
      </p>
      <div class="quote__user">
        <div>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span class="fa fa-star quote__star quote__star--checked"></span>
          <span
            class="fa quote__star fa-star-half-o quote__star--checked"
          ></span>
        </div>
        <h3 class="quote__author">Hasan Kumaji</h3>
        <span class="quote__job fw-500">BACKEND DEVELOPER</span>
      </div>
    </article>
  </div>
  <div class="testimonials__slider-bullets">
    <span
      data-testimonial="testimonial1"
      class="testimonials__slider-bullet testimonials__slider-bullet--active"
    >
    </span>
    <span data-testimonial="testimonial2" class="testimonials__slider-bullet">
    </span>
    <span data-testimonial="testimonial3" class="testimonials__slider-bullet">
    </span>
  </div>
</section>
