<div class="trade trade--right">
  <p class="trade__small-title fw-800">TRADE ANYTIME ANYWHERE</p>
  <h2 class="trade__title">Powerful platform for easy investing</h2>
  <p class="trade__describtion">
    There are many variations of passages of Lorem Ipsum available, but the
    majority have suffered alteration in some form, by injected humour.
  </p>
  <div class="trade__button-group">
    <button class="btn btn--bg-gradiant-orange fw-800">
      <svg class="btn__icon mr-3">
        <use xlink:href="images/sprite.svg#apple"></use>
      </svg>
      Download Now
    </button>
    <button class="btn bg-white btn--border-orange fw-800">
      <svg class="btn__icon mr-3">
        <use xlink:href="images/sprite.svg#google-play"></use>
      </svg>
      Download Now
    </button>
  </div>
</div>
