<section class="video-series">
  <div class="video-series__container">
    <div>
      <p class="video-series__small-title fw-800">WATCH - LEARN - INVEST</p>
      <h2 class="video-series__title">An easy-to-understand video series</h2>
      <p class="video-series__describtion">
        All the Lorem Ipsum generators on the Internet tend too predefined
        chunks as necessary, making this the first true generator on them
        Internet. It uses a dictionary of over 200 Latin words, combined with a
        handful of model sentence structures.
      </p>
      <p class="video-series__describtion">
        By injected humour or randomised words which don't look as slight
        believe are going to use a passage.
      </p>
      <button class="btn btn--bg-gradiant-orange video-series__button fw-800">
        learn more
        <svg class="btn__icon ml-3">
          <use xlink:href="images/sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class="video-series__videos-container">
      <div class="video video--pink">
        <div class="flex align-items-center gap-3">
          <img src="images/play-circle-filled.svg" alt="" />
          <span class="video__time">5:36mins</span>
        </div>
      </div>
      <div class="video video--blue">
        <div class="flex align-items-center gap-3">
          <img src="images/play-circle-filled.svg" alt="" />
          <span class="video__time">5:36mins</span>
        </div>
      </div>
    </div>
  </div>
</section>
